.logo-container{
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 180px;
  }
  .App-logo {
    height: 100%;
    pointer-events: none;
    grid-area: logo;
    transform: translateY(25px);
    border-radius: 50%;
    box-shadow:  3px 5 px 5px  #9de9e95c;;
  }
  
  .App-header {
    background-color: #008b8b;
    height: 250px;
    display: grid;
    grid-template-areas:
    "logo title title"
    "logo nav cart"
    ;
    color: white;
    box-shadow: 2px 10px 10px #0187875c;
  
  }
  .headerTittle{
    font-size: 4em;
    text-align: center;
    grid-area: title;
    height: min-content;
    transform: translateX(-100px);
  }
  
  